body{

  background-color: #cccfc9;
  color: white;

}

h2{



  width: 500px;
  height: 250px;
  background-color: #CDFEBB;
  color: #073b5e;
  margin : 10px;
  padding: 20px 10px 30px 30px;
  border: 1px solid #999999;
  border-radius: 25px 0px 25px 0px;
 box-shadow: 2px 2px 15px;
 color : #073b5e;


}



li{

background-color: #222822 ;}



}
}